better_exceptions
httpx~=0.23.3
PyExecJS
APScheduler~=3.10.0
loguru~=0.6.0
fastapi~=0.111.1
pycryptodome
uvicorn~=0.20.0
aiomysql~=0.1.1
asyncio~=3.4.3
pydantic~=2.8.2
starlette~=0.37.2
PyJWT~=2.7.0
PyYAML~=6.0
PyMySQL~=1.0.3
DBUtils~=3.0.3
redis~=2.10.6
aioredis~=2.0.1
pydantic-settings~=2.3.4
prettytable~=3.10.2
tqdm~=4.66.4
